h1 {
    color: blue;
    span {
      display: flex;
      align-items: center;
      position: relative;
      &::before,&::after {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background-color: rgb(60, 0, 128);
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }